<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>-->
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4netConfigurationSectionHandler,log4net"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="log4net.Internal.Debug" value="false"/>
    <add key="TIMER_INTERVAL" value="10000"/>
  </appSettings>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="DEBUG"/>
        <arg key="showLogName" value="true"/>
        <arg key="showDataTime" value="true"/>
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff"/>
      </factoryAdapter>
      <!--<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="INLINE" />        
      </factoryAdapter>-->
    </logging>
  </common>

  <log4net debug="false">
    <appender name="GeneralLog" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\\log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="dd-MM-yyyy"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{dd MMM yyyy HH:mm:ss} [%p] %c - %m%n"/>
      </layout>
      <!--<securityContext type="log4net.Util.WindowsSecurityContext">
      <credentials value="Process" />
    </securityContext>-->
    </appender>
    <appender name="DebugSQL" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\\sql_log.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="dd-MM-yyyy"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{dd MMM yyyy HH:mm:ss} [%p] %c - %m%n"/>
      </layout>
      <securityContext type="log4net.Util.WindowsSecurityContext">
        <credentials value="Process"/>
      </securityContext>
    </appender>
    <appender name="ProcessLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\\ProcessLog.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="dd-MM-yyyy"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{dd MMM yyyy HH:mm:ss} [%p] %c - %m%n"/>
      </layout>
      <securityContext type="log4net.Util.WindowsSecurityContext">
        <credentials value="Process"/>
      </securityContext>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="INFO"/>
        <foreColor value="White, HighIntensity"/>
        <backColor value="Green"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="White, HighIntensity"/>
        <backColor value="Blue"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <foreColor value="Yellow, HighIntensity"/>
        <backColor value="Purple"/>
      </mapping>
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Yellow, HighIntensity"/>
        <backColor value="Red"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <param name="RemoteAddress" value="127.0.0.1"/>
      <param name="RemotePort" value="8081"/>
      <layout type="log4net.Layout.PatternLayout" value="{%level}%date{MM/dd HH:mm:ss} - %message"/>
    </appender>

    <logger name="SQL" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="DebugSQL"/>
    </logger>
    <logger name="MP_WS_info" additivity="false">
      <level value="All"/>
      <appender-ref ref="ProcessLogAppender"/>
      <appender-ref ref="ColoredConsoleAppender"/>
      <appender-ref ref="UdpAppender"/>
    </logger>

    <root>
      <level value="ALL"/>
      <appender-ref ref="GeneralLog"/>
      <appender-ref ref="ColoredConsoleAppender"/>
      <appender-ref ref="UdpAppender"/>
    </root>
  </log4net>

  <!-- Trace listener to capture error messages from log4net when it tries to initialise -->
  <!--<system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData=""/>
      </listeners>
    </trace>
  </system.diagnostics>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
