INSERT INTO [TechnicalParameters]([name], [value]) VALUES ('version', 'v16.3.0.0')
INSERT INTO [TechnicalParameters]([name], [value]) VALUES ('last_id', '0')
INSERT INTO [TechnicalParameters]([name], [value]) VALUES ('BuildNumber', '0')
GO

INSERT INTO [CURRENCIES] ([name], [is_pivot], [code], [is_swapped]) VALUES ('USD', 1, 'USD', 0)
GO

INSERT INTO [GeneralParameters]([key], [value]) VALUES('COUNTRY','')
INSERT INTO [GeneralParameters]([key], [value]) VALUES('WEEK_END_DAY1',0)
INSERT INTO [GeneralParameters]([key], [value]) VALUES('WEEK_END_DAY2',6)
GO

INSERT INTO [dbo].[AlertSettings] ([parameter], [value]) VALUES('client_name', '1')
INSERT INTO [dbo].[AlertSettings] ([parameter], [value]) VALUES('amount', '1')
INSERT INTO [dbo].[AlertSettings] ([parameter], [value]) VALUES('effect_date', '1')
GO

INSERT INTO [InstallmentTypes]([name], [nb_of_days], [nb_of_months]) VALUES('Monthly', 0, 1)
INSERT INTO [InstallmentTypes]([name], [nb_of_days], [nb_of_months]) VALUES('Weekly', 7, 0)
INSERT INTO [InstallmentTypes]([name], [nb_of_days], [nb_of_months]) VALUES('Daily', 1, 0)
GO

INSERT INTO [ProvisioningRules]([id], [number_of_days_min], [number_of_days_max],  [provisioning_value],[provisioning_interest],[provisioning_penalty]) VALUES(1, 0, 0, 0.02, 0.02, 0.02)
INSERT INTO [ProvisioningRules]([id], [number_of_days_min], [number_of_days_max],  [provisioning_value],[provisioning_interest],[Provisioning_penalty]) VALUES(2, 1, 30, 0.1, 0.1, 0.1)
INSERT INTO [ProvisioningRules]([id], [number_of_days_min], [number_of_days_max],  [provisioning_value],[provisioning_interest],[provisioning_penalty]) VALUES(3, 31, 60, 0.25, 0.25, 0.25)
GO

INSERT INTO [Provinces]([name],[deleted]) VALUES('Paris',0)
INSERT INTO [Districts]([name], [province_id],[deleted]) VALUES('Paris', 1,0)
insert into dbo.City (district_id, name, deleted) values (1, 'Paris', 0)
INSERT INTO [EconomicActivities]([name], [deleted]) VALUES('Agriculture',0)
INSERT INTO [LoanPurpose]([name], [deleted]) VALUES('Agriculture',0)
INSERT INTO [Users]([deleted], [user_name], [user_pass], [role_code], [first_name], [last_name], [mail], [sex]) 
VALUES(0, 'admin', 'admin', 'SUPER', 'admin','admin','Not Set', 'M')
GO

SET IDENTITY_INSERT [Roles] ON
INSERT INTO [dbo].[Roles] ([id], [code], [deleted], [description]) VALUES (1, 'ADMIN',0,'Administrator role')
INSERT INTO [dbo].[Roles] ([id], [code], [deleted], [description]) VALUES (2, 'CASHI',0,'Cashier role')
INSERT INTO [dbo].[Roles] ([id], [code], [deleted], [description]) VALUES (3, 'LOF',0,'Loan officer role')
SET IDENTITY_INSERT [Roles] OFF
GO

INSERT INTO [dbo].[UserRole] ([user_id], [role_id]) VALUES (1,1)
GO
SET IDENTITY_INSERT [MenuItems] ON
INSERT INTO [dbo].[MenuItems]([id], [component_name]) VALUES (1, 'mnuClients')
INSERT INTO [dbo].[MenuItems]([id], [component_name]) VALUES (2, 'mnuNewClient')
INSERT INTO [dbo].[MenuItems]([id], [component_name]) VALUES (3, 'mnuNewPerson')
SET IDENTITY_INSERT [MenuItems] OFF
GO

INSERT INTO [dbo].[AllowedRoleMenus] ([menu_item_id],[role_id] ,[allowed]) VALUES (2, 3, 'false')
INSERT INTO [dbo].[AllowedRoleMenus] ([menu_item_id],[role_id] ,[allowed]) VALUES (2, 2, 'false')
INSERT INTO [dbo].[AllowedRoleMenus] ([menu_item_id],[role_id] ,[allowed]) VALUES (2, 5, 'false')
GO

-- Adding some actions for allow/prohibit in roles
SET IDENTITY_INSERT [ActionItems] ON
INSERT INTO [dbo].[ActionItems] ([id], [class_name],[method_name]) VALUES (1, 'LoanServices','SaveLoan')
INSERT INTO [dbo].[ActionItems] ([id], [class_name],[method_name]) VALUES (2, 'LoanServices','Disburse')
INSERT INTO [dbo].[ActionItems] ([id], [class_name],[method_name]) VALUES (3, 'LoanServices','UpdateContractStatus')

GO

SET IDENTITY_INSERT [ActionItems] OFF
GO

INSERT INTO [dbo].[AllowedRoleActions] ([action_item_id],[role_id] ,[allowed])
VALUES (1, 2, 'false')
INSERT INTO [dbo].[AllowedRoleActions] ([action_item_id],[role_id] ,[allowed])
VALUES (1, 5, 'false')

INSERT INTO [dbo].[AllowedRoleActions] ([action_item_id],[role_id] ,[allowed])
VALUES (2, 2, 'false')










INSERT INTO [Cycles] ([name]) VALUES ('Default')
GO

INSERT INTO [AmountCycles] ([cycle_id],[number],[amount_min],[amount_max]) VALUES (1,1,100,1000)
INSERT INTO [AmountCycles] ([cycle_id],[number],[amount_min],[amount_max]) VALUES (1,2,100,10000)
INSERT INTO [AmountCycles] ([cycle_id],[number],[amount_min],[amount_max]) VALUES (1,3,100,100000)
GO

INSERT INTO [LoanScale]([id],[ScaleMin],[ScaleMax]) VALUES(1,1,100)
INSERT INTO [LoanScale]([id],[ScaleMin],[ScaleMax]) VALUES(2,101,500)
INSERT INTO [LoanScale]([id],[ScaleMin],[ScaleMax]) VALUES(3,501,1000)
GO

INSERT INTO [dbo].[Statuses] ([status_name]) VALUES ('Pending')
INSERT INTO [dbo].[Statuses] ([status_name]) VALUES ('Validated')
INSERT INTO [dbo].[Statuses] ([status_name]) VALUES ('Refused')
GO

INSERT INTO FundingLines (name, begin_date, end_date, amount, purpose, deleted, currency_id) 
VALUES('DEFAULT_FUNDING_LINE', GETDATE(), '2020-01-01', 922337203685477, 'DEFAULT_FUNDING_LINE', 0, 1)

DECLARE @id INT

SELECT @id = id
FROM FundingLines
WHERE name = 'DEFAULT_FUNDING_LINE'

INSERT INTO FundingLineEvents (code, amount, direction, fundingline_id, deleted, creation_date, type)
VALUES('UNLIMITED', 922337203685477, 1, @id, 0, GETDATE(), 0)
GO

INSERT INTO [dbo].[CollateralPropertyTypes] ([name]) VALUES ('Number')
INSERT INTO [dbo].[CollateralPropertyTypes] ([name]) VALUES ('String')
INSERT INTO [dbo].[CollateralPropertyTypes] ([name]) VALUES ('Date')
GO

INSERT INTO dbo.EventTypes (event_type, description, sort_order, accounting) VALUES ('LOVE', 'Loan Validation Event', 10, 0)
INSERT INTO dbo.EventTypes (event_type, description, sort_order, accounting) VALUES ('LODE', 'Loan Disbursement Event', 20, 1)
INSERT INTO dbo.EventTypes (event_type, description, sort_order, accounting) VALUES ('RGLE', 'Repayment of Good Loan Event', 40, 1)







INSERT INTO [dbo].[EventAttributes] (event_type, name) VALUES ('LCIE', 'commission')
INSERT INTO [dbo].[EventAttributes] (event_type, name) VALUES ('LCIE', 'principal')
INSERT INTO [dbo].[EventAttributes] (event_type, name) VALUES ('LCIP', 'commission')
GO

INSERT INTO EventAttributes (event_type, name) VALUES('RRLE', 'principal')
INSERT INTO EventAttributes (event_type, name) VALUES('RRLE', 'penalties')
INSERT INTO EventAttributes (event_type, name) VALUES('RRLE', 'commissions')





















GO

INSERT INTO [dbo].[ClientTypes] ([type_name])  VALUES ('All')
INSERT INTO [dbo].[ClientTypes] ([type_name])  VALUES ('Group')
INSERT INTO [dbo].[ClientTypes] ([type_name])  VALUES ('Individual')
GO

INSERT INTO dbo.Branches (name, code)
VALUES ('Default', 'DEF')
GO

INSERT INTO [PaymentMethods] ([name])
VALUES ('Cash')
INSERT INTO [PaymentMethods] ([name])
VALUES ('Cheque')
INSERT INTO [PaymentMethods] ([name])
VALUES ('DirectDebit')
GO

INSERT INTO dbo.UsersBranches (user_id, branch_id)
SELECT 1, id FROM dbo.Branches WHERE deleted = 0
GO

INSERT INTO [dbo].[CycleObjects] ([name])  VALUES ('Loan amount')
INSERT INTO [dbo].[CycleObjects] ([name])  VALUES ('Interest rate')
INSERT INTO [dbo].[CycleObjects] ([name])  VALUES ('Number of installments')
GO

INSERT INTO [dbo].[AdvancedFieldsEntities] ([name]) VALUES ('Individual')
INSERT INTO [dbo].[AdvancedFieldsEntities] ([name]) VALUES ('SG')
INSERT INTO [dbo].[AdvancedFieldsEntities] ([name]) VALUES ('NSG')
GO

INSERT INTO [dbo].[AdvancedFieldsTypes] ([name]) VALUES ('Boolean')
INSERT INTO [dbo].[AdvancedFieldsTypes] ([name]) VALUES ('Number')
INSERT INTO [dbo].[AdvancedFieldsTypes] ([name]) VALUES ('String')
GO

INSERT INTO dbo.AdvancedFields ( entity_id, type_id, name, [desc], is_mandatory, is_unique )
VALUES  ( 5, 5, 'Type of clients', '', 0, 0 )
GO

INSERT INTO dbo.AdvancedFieldsCollections ( field_id, value ) VALUES  ( 1, 'Urban' )
INSERT INTO dbo.AdvancedFieldsCollections ( field_id, value ) VALUES  ( 1, 'Rural' )
GO

INSERT INTO dbo.FiscalYear (name, open_date, close_date)
VALUES  ('New Year', '2000-01-01', NULL)
GO

	
DECLARE @packageId INT
SELECT @packageId = SCOPE_IDENTITY()
INSERT INTO [PackagesClientTypes] ([client_type_id], [package_id]) SELECT id, @packageId FROM [ClientTypes]
GO

INSERT INTO [SavingProducts]
	([name]
    ,[code]
    ,[initial_amount_min]
    ,[initial_amount_max]
    ,[balance_min]
    ,[balance_max]
    ,[deposit_min]
    ,[deposit_max]
    ,[withdraw_min]
    ,[withdraw_max]
    ,[transfer_min]
    ,[transfer_max]
    ,[interest_rate]
    ,[entry_fees]
    ,[currency_id]
    ,[product_type])
      VALUES('Saving Product', 'default', 0, 100000000, 0, 100000000, 1, 100000000, 1, 100000000, 1, 100000000, 0, 0, 1, 'B')
      
DECLARE @savingProductId INT
SELECT @savingProductId = SCOPE_IDENTITY()

INSERT INTO [SavingBookProducts] 
	([id]
	,[interest_base]
	,[interest_frequency]
	,[calcul_amount_base]
	,[withdraw_fees_type]
	,[flat_withdraw_fees]
	,[transfer_fees_type]
	,[flat_transfer_fees]
	,[is_ibt_fee_flat]
	,[ibt_fee]
	,[deposit_fees]
	,[close_fees]
	,[management_fees]
	,[management_fees_freq]
	,[overdraft_fees]
	,[agio_fees]
	,[agio_fees_freq]
	,[cheque_deposit_min]
	,[cheque_deposit_max]
	,[cheque_deposit_fees]
	,[reopen_fees]
	,[use_term_deposit]
	)
	VALUES 
	(@savingProductId, 10, 10, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3, 1, 100000000, 0, 0, 0) 
INSERT INTO [SavingProductsClientTypes] ([saving_product_id] ,[client_type_id]) SELECT @savingProductId, id FROM [ClientTypes]
GO

INSERT INTO dbo.LateDaysRange ([Min], [Max], [Label] ) VALUES (0, 0, 'Performing') 
INSERT INTO dbo.LateDaysRange ([Min], [Max], [Label], [Color]) VALUES (1, 30, 'PAR 1-30','#EAC81C') 
INSERT INTO dbo.LateDaysRange ([Min], [Max], [Label], [Color])  VALUES (31, 60, 'PAR 31-60','#EAA01C')
GO

INSERT INTO dbo.WriteOffOptions VALUES('Standard')
GO

IF((Select COUNT(*) from dbo.Categories) = 0 
    or (Select COUNT(*) from dbo.Accounts) = 0)
begin
Insert into dbo.Categories VALUES (0, 'Assets', 0, 0)
Insert into dbo.Categories VALUES (0, 'Liabilities', 0, 0)
Insert into dbo.Categories VALUES (0, 'Income', 0, 0)
Insert into dbo.Categories VALUES (0, 'Expense', 0, 0)

--Assets
Insert into dbo.Accounts VALUES ('100', 'Current Assets', 1, 0, 1, null, 1, 36)
Insert into dbo.Accounts VALUES ('101', 'Fixed Assets', 1, 0, 1, null, 37, 38)
--100
Insert into dbo.Accounts VALUES ('1001', 'Bank', 1, 0, null, '100', 2, 11)
--1001
--1005
--1006
--Liabilities
--200
--Income 
--300
--3001
--Expense
--400
--Equity
--500
end
GO
